# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
/public
.DS_Store
# Temp Assets directory
src/assets/images/downloads
src/assets/images/Temp Assets
