/* Banner */

#banner.banner-details {
  $classes: (
    industry: (
      retail,
      facilities,
      financial,
      logistic
    ),
    analytics: (
      location,
      bi,
      discovery,
      prep,
      advance,
      integration
    )
  );

  @each $solution, $details in $classes {
    @each $detail in $details {
      &.#{$solution} {
        &.#{$detail} {
          @include setBackground("banners/#{$solution}-#{$detail}.jpg");
          @include overlay(_palette(bg), 0.93);
          .title-tag {
            border-left: solid 0.6em _palette(#{$detail});
          }
        }
      }
      .col-sm-5 {
        .img-div {
          @include setBackground("banners/details/#{$solution}/#{$detail}.jpg");
          height: 41vw;
        }
      }
    }
  }
  height: initial;
  min-height: initial;
  .banner-header {
    .logo {
      left: 20px;
      top: 12px;
    }
  }

  .banner-content {
    padding-top: calc(50px + 2%);
    padding-bottom: calc(50px + 2%);
    .col-sm-5 {
      padding: 0 5% 0 9%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .col-sm-7 {
      padding: 0;
      @include wrapper-style(40vw, 4em);
      .title-tag {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.4);
        font-size: 1.3em;
        font-weight: bold;
        min-width: 10em;
        height: 2em;
        line-height: 2em;
        padding: 0 1em 0 0.5em;
        border-radius: 0 0.25em 0.25em 0;
        margin-bottom: 2em;
      }
      .content {
        // font-size: 0.8em;
        font-weight: 300;
        line-height: 1.2em;
      }
    }
  }
  @include breakpoint(medium) {
    .banner-content {
      .col-sm-5 {
        padding: 0 0 0 8%;
        .img-div {
          height: 50vw;
        }
      }
      .col-sm-7 {
        padding: 0 0 0 5%;
        .title-tag {
          font-size: 1.2em;
        }
        h1 {
          font-size: 2em;
        }
      }
    }
  }

  @include breakpoint(xsmall) {
    background: none !important;
    .banner-header {
      display: none;
    }
    .banner-bottom {
      display: inline-block !important;
      // background-image: linear-gradient(to top, #222a35, rgba(34,42,53,0.5));
      background-image: linear-gradient(to top, #222a35, rgba(34, 42, 53, 0.8), rgba(34, 42, 53, 0.4), transparent);
      height: 50px;
      left: 0;
      top: calc(100vh - 50px);
    }
    .banner-content {
      padding: 50px 0;
      margin: 0 15px;

      .col-sm-5 {
        text-align: left;
        padding: 0;
        .title-tag {
          display: inline-block !important;
          background-color: #2e3743;
          width: 100%;
          height: 50px;
          line-height: 50px;
          font-size: 2em;
          font-weight: bold;
          padding-left: 0.3em;
        }
        .img-div {
          height: calc(100vh - 100px);
        }
      }
      .col-sm-7 {
        text-align: left;
        padding: 0;
        @include wrapper-style(70vw, 6em);
        .sub-item {
          padding: 7% 10% 0 10%;
          h1 {
            font-size: 2em;
            margin-bottom: 0.5em;
          }
          .content {
            font-size: 14px;
            line-height: 1.5em;
          }
        }
      }
    }
  }  
}
