/*Homepage Banner */

#banner.banner-home {
  @include setBackground("banners/home.jpg");
  .banner-bottom {
    background-image: linear-gradient(to top, _palette(bg), transparent);
  }
  .banner-content {
    padding: 14% 7%;
    .left {
      text-align: right;
      .frame {
        display: inline-block;
        text-align: left;
        .header {
          display: inline-block;
          text-align: left;
          margin-bottom: 2em;
          .title {
            font-size: 5.5em;
            font-weight: 900;
            margin-left: -0.08em;
          }
        }
        p {
          margin-bottom: 0px;
        }
        .button {
          min-width: 12em;
        }
      }
    }
    .right {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @include breakpoint(medium) {
    .banner-content {
      padding: 10% 10%;
      .left {
        text-align: center;
        .frame {
          text-align: center;
        }
      }
      .right {
        text-align: center;
        img {
          display: inline-block;
          position: relative;
          width: 80%;
          height: auto;
          margin: 0 auto;
        }
      }
    }
  }

  @include breakpoint(xsmall) {
    @media (orientation: portrait) {
      height: 100vh;
      .banner-content {
        padding: 150px 0;
      }
      .banner-content2 {
        padding: 14% 7%;
        .left {
          text-align: right;
          .frame {
            display: inline-block;
            text-align: left;
            .header {
              display: inline-block;
              text-align: left;
              margin-bottom: 2em;
              .title {
                font-size: 5.5em;
                font-weight: 900;
                margin-left: -0.08em;
              }
            }
            p {
              margin-bottom: 0px;
            }
            .button {
              min-width: 12em;
            }
          }
        }
        .right {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
