/* Banner */

#banner.banner-analytics {
  $details: (location, bi, discovery, prep, advance, integration);

  @include emptyBanner();
  background: transparentize($color: _palette(white), $amount: 0.97);
  height: initial;
  padding-bottom: 0;
  .banner-header {
    .logo {
      left: 20px;
      top: 12px;
    }
  }

  .banner-content {
    padding-top: 50px;
    .col-xl-4 {
      padding: 0;
      position: relative;
      height: 25vw;
      @each $detail in $details {
        &.#{$detail} {
          @include setBackground("banners/analytics-#{$detail}.jpg");
          @include overlay(_palette($detail), 0.8);
        }
      }
      .center-middle-div {
        position: absolute;
        .plus {
          display: block;
          line-height: 0.5em;
        }
      }
    }
  }
  @include breakpoint(medium) {
    min-height: initial;
    max-height: initial;
    .banner-content {
      width: 100%;
      padding: 50px 15px;
      margin: 0;
      .col-xl-4 {
        height: 35vw;
      }
    }
  }
  @include breakpoint(small) {
    .banner-content {
      .col-xl-4 {
        height: 40vw;
      }
    }
  }
  @include breakpoint(xsmall) {
    .banner-header {
      position: relative;
      height: 100px;
      padding-top: 50px;
      text-align: center;
    }
    .banner-content {
      padding: 0 15px;
      .col-xl-4 {
        height: 100vw;
      }
    }
  }
}
