/* Banner */

#banner.banner-solution {
  @include emptyBanner();
  background: transparentize($color: _palette(white), $amount: 0.97);
  .banner-bottom {
    background: transparent;
  }
  .banner-content {
    padding-top: 50px;
    padding-bottom: 20px;
    .col-md-6 {
      padding: 0;
      position: relative;
      img {
        position: relative;
        width: 100%;
        height: auto;
      }
      .center-middle-div {
        position: absolute;
      }
    }
  }

  @include breakpoint(xsmall) {
    @media (orientation: portrait) {
      .banner-header {
        position: relative;
        padding-top: 50px;
        text-align: center;
        h2 {
          line-height: 100px;
        }
      }
      .banner-content {
        width: 100%;
        padding: 0 15px;
      }
    }
  }
}
