/* Banner */

#banner.banner-tech {
  @include setBackground("banners/tech.jpg");
  .banner-bottom {
    background-image: linear-gradient(to top, _palette(bg), transparent);
  }
  .banner-content {
    padding: 6% 5% 6% 10%;
    .left {
      padding-left: 5%;
      .header {
        display: inline-block;
        margin-bottom: 1em;
        .title {
          font-size: 150px;
          font-weight: 900;
          margin-left: -10px;
        }
      }
      .button {
        font-size: 16px;
        min-width: 12em;
      }
    }
    .right {
      padding-left: 8%;
      padding-top: 2%;
      img {
        width: 100%;
        height: auto;
      }
      .imgFrame {
        position: relative;
        img {
          &.play {
            position: absolute;
            width: 20%;
            height: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
  }

  @include breakpoint(xxlarge) {
    .banner-content {
      padding: 8% 5% 8% 10%;
      .left {
        .header {
          .title {
            font-size: 130px;
          }
        }
      }
    }
  }

  @include breakpoint(xlarge) {
    .banner-content {
      padding: 10% 5% 10% 10%;
      .left {
        .header {
          .title {
            font-size: 110px;
          }
        }
        .button {
          font-size: 14px;
        }
      }
    }
  }

  @include breakpoint(large) {
    .banner-content {
      padding: 10% 5% 10% 10%;
      .left {
        .header {
          .title {
            font-size: 100px;
          }
        }
        .button {
          font-size: 12px;
        }
      }
      .right {
        padding-left: 5%;
        padding-right: 0;
      }
    }
  }

  @include breakpoint(medium) {
    .banner-content {
      padding: 10% 3% 10% 7%;
      .left {
        .header {
          .title {
            font-size: 80px;
            margin-left: -5px;
          }
        }
        .button {
          font-size: 12px;
          min-width: 10em;
        }
      }
      .right {
        padding-left: 0%;
        padding-right: 0%;
      }
    }
  }

  @include breakpoint(small) {
    .banner-content {
      .left {
        .header {
          .title {
            font-size: 60px;
            margin-left: -3px;
          }
        }
        .button {
          font-size: 10px;
          min-width: 10em;
        }
      }
    }
  }

  @include breakpoint(xsmall) {
    .banner-content {
      padding-top: 70px;
      .left {
        padding-left: 0;
        .header {
          text-align: left;
          .title {
            font-size: 60px;
          }
        }
        .content {
          p {
            margin-bottom: 2em;
          }
        }
        .button {
          font-size: 12px;
          min-width: 12em;
        }
      }
    }
  }
}
