/* Banner */

#banner {
  // $banner-indexs: ("1", "2", "3", "4", "5");
  // @each $bannerIndex in $banner-indexs {
  //   $urlString: 'url("../images/banner#{$bannerIndex}.jpg")';
  //   &.banner-#{$bannerIndex} {
  //     @include vendor("background-image", $urlString);
  //   }
  // }

  // $plan-banner-names: ("retail", "facilities", "financial", "logistic");
  // @each $bannerName in $plan-banner-names {
  //   // $urlString: '#{transparentize(_palette(bg),0.95)}, url("../images/#{$bannerName}.jpg")';
  //   $urlString: 'url("../images/#{$bannerName}.jpg")';
  //   &.plan-#{$bannerName} {
  //     @include vendor("background", $urlString);
  //     &:before {
  //       content: "";
  //       position: absolute;
  //       left: 0;
  //       right: 0;
  //       top: 0;
  //       bottom: 0;
  //       background: transparentize(_palette(bg), 0.2);
  //     }
  //     .title-tag {
  //       // border-left: solid 4px transparentize($color: _palette(#{$bannerName}), $amount: 0.8);
  //       // border-left: solid 4px red;
  //     }
  //   }
  // }

  @include vendor("align-items", "center");
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  .logo {
    position: absolute;
    display: inline-block;
    line-height: 50px;
    z-index: 10000;
    left: 2em;
    top: 0;
    img {
      @include relative-property("width", 150px);
      height: auto;
    }
  }
  .banner-header {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 0;
    text-align: right;
    // background: transparentize($color: _palette(white), $amount: 0.97);
    z-index: 9999;
    .back-button {
      h2 {
        line-height: 50px;
        margin: 0 0.5em;
        display: inline-block;
      }
      img {
        display: inline-block;
        width: 30px;
        height: auto;
        margin-right: 2em;
        margin-bottom: 10px;
      }
    }
  }
  .banner-bottom {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    background-image: linear-gradient(to top, _palette(bg), transparent);
    .right-frame {
      width: 100%;
      text-align: right;
    }
    .center-frame {
      width: 100%;
      line-height: 2em;
      display: inline-block;
      span {
        display: block;
        font-size: 0.5em;
      }
      img {
        width: 0.8em;
      }
    }
  }

  .banner-content {
    @include vendor(
      "transition",
      ("opacity 1.5s ease", "transform 0.5s ease-out", "filter 0.5s ease", "-webkit-filter 0.5s ease")
    );
    margin: 0 15px;
    font-size: 26px;

    .left {
      //   padding-left: 16%;
      //   .header {
      //     display: inline-block;
      //     margin-bottom: 2em;
      //     .title {
      //       font-size: 150px;
      //       font-weight: 900;
      //       margin-left: -10px;
      //     }
      //   }
      //   .button {
      //     font-size: 16px;
      //     min-width: 12em;
      //   }
      // }
      // .right {
      //   padding-right: 5%;
      //   img {
      //     width: 100%;
      //     height: auto;
      //   }
    }  
  }

  // @mixin emptyBanner {
  //   height: auto;
  //   max-height: initial;
  //   min-height: initial;
  //   padding-bottom: 5em;
  // } 

  @include breakpoint(xxxlarge) {
    min-height: 900px;
    max-height: 1440px;
  }

  @include breakpoint(xxlarge) {
    min-height: 1000px;
    max-height: 1440px;
    .banner-content {
      font-size: 24px;
      // .left {
      //   .header {
      //     .title {
      //       font-size: 130px;
      //     }
      //   }
      // }
    }
  }

  @include breakpoint(xlarge) {
    min-height: 900px;
    max-height: 1200px;
    .banner-content {
      font-size: 22px;
      // .left {
      //   padding-left: 12%;
      //   .header {
      //     .title {
      //       font-size: 120px;
      //     }
      //   }
      //   .button {
      //     font-size: 14px;
      //   }
      // }
    }
  }

  @include breakpoint(large) {
    min-height: 800px;
    max-height: 1050px;
    .banner-content {
      font-size: 20px;
      // .left {
      //   padding-left: 10%;
      //   .header {
      //     .title {
      //       font-size: 100px;
      //     }
      //   }
      //   .button {
      //     font-size: 12px;
      //   }
      // }
    }
  }
  @include breakpoint(medium) {
    min-height: 600px;
    max-height: 900px;

    .banner-content {
      font-size: 16px;
      // .left {
      //   padding-left: 10%;
      //   .header {
      //     .title {
      //       font-size: 80px;
      //       margin-left: -5px;
      //     }
      //   }
      //   .button {
      //     font-size: 12px;
      //     min-width: 10em;
      //   }
      // }
    }   
  }
  @include breakpoint(small) {
    min-height: 750px;
    max-height: 800px;
    .banner-content {
      font-size: 14px;
      // .left {
      //   padding-left: 10%;
      //   .header {
      //     .title {
      //       font-size: 60px;
      //       margin-left: -3px;
      //     }
      //   }
      //   .button {
      //     font-size: 10px;
      //     min-width: 10em;
      //   }
      // }
    }
  }

  @mixin banner_mobile_style {
    text-align: center;
    min-height: initial;
    max-height: initial;

    .banner-content {
      font-size: 14px;
      width: 86%;
      margin: 0 auto;
      //     .left {
      //       padding-left: 0;
      //       .header {
      //         text-align: left;
      //         .title {
      //           font-size: 60px;
      //         }
      //       }
      //       .content {
      //         p {
      //           margin-bottom: 2em;
      //         }
      //       }
      //       .button {
      //         font-size: 12px;
      //         min-width: 12em;
      //       }
      //     }
    }
    .banner-bottom {
      top: calc(100vh - 60px);
      bottom: initial;
    }
  }

  // @media (orientation: portrait) {
  //   @include banner_mobile_style();
  // }
  @include breakpoint(xsmall) {
    @media (orientation: portrait) {
      @include banner_mobile_style();
    }
  }
}
