/* Banner */

#banner {
  @include vendor("align-items", "center");
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  .logo {
    position: absolute;
    display: inline-block;
    line-height: 50px;
    z-index: 10000;
    left: 2em;
    top: 0;
    img {
      @include relative-property("width", 150px);
      height: auto;
    }
  }
  .banner-header {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 0;
    text-align: right;
    z-index: 9999;
    height: 50px;
    .back-button {
      display: inline-block;
      height: 50px;
      h2 {
        line-height: 50px;
        margin: 0 0.5em;
        display: inline-block;
        float: left;
      }
      .back-image {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-top: 10px;
        @include setBackground("back.png");
      }
      // img {
      //   display: inline-block;
      //   width: 30px;
      //   height: auto;
      //   margin-right: 2em;
      // }
    }
  }
  .banner-bottom {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    background-image: linear-gradient(to top, _palette(bg), transparent);
    .right-frame {
      text-align: right;
      display: inline-block;
      position: absolute;
      right: 10px;
      bottom: 40px;
    }
    .center-frame {
      width: 100%;
      line-height: 2em;
      display: inline-block;
      span {
        display: block;
        font-size: 0.5em;
      }
      img {
        width: 0.8em;
      }
    }
  }

  .banner-content {
    @include vendor(
      "transition",
      ("opacity 1.5s ease", "transform 0.5s ease-out", "filter 0.5s ease", "-webkit-filter 0.5s ease")
    );
    margin: 0 15px;
    font-size: 26px;
  }
  .banner-content1 {
    @include vendor(
      "transition",
      ("opacity 1.5s ease", "transform 0.5s ease-out", "filter 0.5s ease", "-webkit-filter 0.5s ease")
    );
    margin: 0 15px;
    font-size: 26px;

    .left {
      padding-left: 16%;
      .header {
        display: inline-block;
        margin-bottom: 2em;
        .title {
          font-size: 150px;
          font-weight: 900;
          margin-left: -10px;
        }
      }
      .button {
        font-size: 16px;
        min-width: 12em;
      }
    }
    .right {
      padding-right: 5%;
      img {
        width: 100%;
        height: auto;
      }
    }

    &.content-1 {
      padding-top: 14%;
    }

    &.content-2 {
      padding-top: 6%;
      .right {
        padding-left: 8%;
        padding-top: 2%;
        .imgFrame {
          position: relative;
          img {
            &.play {
              position: absolute;
              width: 20%;
              height: auto;
              left: 0;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
            }
          }
        }
      }
    }

    &.content-3 {
      padding-top: 6%;
      .left {
        .header {
          display: inline-block;
          margin-bottom: 2em;
          .title {
            font-size: 100px;
          }
          .line {
            display: inline-block;
            width: 7em;
            border-top: solid 2px _palette(fg);
            height: 1px;
          }
        }
        .info {
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          .contact-bottom {
            position: absolute;
            width: 100%;
            height: 25%;
            top: 75%;
            background-color: transparentize(_palette(bg), 0.1);
            font-size: 0.6em;
            display: flex;
            padding-top: 2em;
            img {
              width: 40px;
              height: auto;
            }

            .frame {
              display: flex;
              h6 {
                margin-bottom: 0;
              }
              p {
                margin-bottom: 0;
              }
              .left-div {
                padding-left: 7%;
                padding-right: 5%;
              }
              &.first {
                flex: 2;
              }
              &.second {
                flex: 1;
              }
            }
          }
        }
      }

      .right {
        padding-left: 3%;
        padding-right: 20%;
        // padding-top: 2%;
        font-size: 0.8em;
        form {
          background-color: _palette(bg);
          padding: 15% 10%;
          .title {
            text-align: center;
            margin-bottom: 2em;
            h2 {
              font-weight: 900;
            }
            .line {
              display: inline-block;
              width: 7em;
              border-top: solid 2px _palette(fg);
              height: 1px;
            }
          }
          input:not([type="submit"]),
          textarea {
            font-size: 0.8em;
            padding: 1.2em 2em;
          }
          .button {
            width: 100%;
          }
        }
      }
    }
    &.content-5 {
      height: 100%;
      padding-bottom: 10%;
      h1 {
        font-size: 3.5em;
        font-weight: 900;
      }
      h2 {
        font-size: 1.8em;
      }
    }
    &.content-6 {
      padding-top: 50px;
      padding-bottom: 20px;
      .col-md-6 {
        padding: 0;
        position: relative;
        img {
          position: relative;
          width: 100%;
          height: auto;
        }
        .center-middle-div {
          position: absolute;
        }
      }
    }
    &.content-7,
    &.content-8 {
      padding-top: 50px;

      .col-lg-6 {
        padding: 0;
        position: relative;
        height: 25vw;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        .center-middle-div {
          position: absolute;
          .plus {
            display: block;
            line-height: 0.5em;
          }
        }
      }
    }
    &.content-9 {
      padding-top: calc(50px + 3em);

      .col-lg-5 {
        position: relative;
        height: 40vw;
        padding-left: 2em;
        padding-right: 1em;
        .img-container {
          position: relative;
          width: 100%;
          height: 40vw;
          overflow: hidden;
          img {
            width: auto;
            height: 40vw;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
      .col-lg-6 {
        padding: 0;
        position: relative;
        height: 25vw;
        .title-tag {
          width: 10em;
          height: 2em;
          line-height: 2em;
          background-color: transparentize($color: _palette(white), $amount: 0.73);
          border-radius: 0 0.3em 0.3em 0;
        }
      }
    }
  }

  @include breakpoint(xxxlarge) {
    min-height: 900px;
    max-height: 1440px;
  }

  @include breakpoint(xxlarge) {
    min-height: 1000px;
    max-height: 1440px;
    .banner-content {
      font-size: 24px;
    }
  }

  @include breakpoint(xlarge) {
    min-height: 900px;
    max-height: 1200px;
    .banner-content {
      font-size: 22px;
    }
  }

  @include breakpoint(large) {
    min-height: 800px;
    max-height: 1050px;
    .banner-content {
      font-size: 20px;
    }
  }
  @include breakpoint(medium) {
    min-height: 600px;
    max-height: 900px;
    .banner-content {
      font-size: 16px;
    }
  }
  @include breakpoint(small) {
    min-height: 750px;
    max-height: 800px;
    .banner-content {
      font-size: 14px;
    }
  }

  @include breakpoint(xsmall) {
    @media (orientation: portrait) {
      @include banner_mobile_style();
    }
  }
}
