/* Banner */

#banner {
  @include vendor("align-items", "center");
  position: relative;
  width: 100%;
  min-height: 100vh;
  cursor: default;

  .banner-header {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50px;
    text-align: right;
    z-index: 100;
    .logo {
      position: absolute;
      @include setBackground("logo.png");
      background-size: 100% auto;
      display: inline-block;
      width: 8em;
      left: 3em;
      top: 2em;
    }
    .back-button {
      display: inline-block;
      height: 50px;
      h2 {
        line-height: 50px;
        margin: 0 0.5em;
        display: inline-block;
      }
      .back-image {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        margin-top: 10px;
        @include setBackground("back.png");
      }
    }
  }
  .banner-bottom {
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 0;
    text-align: center;
    .center-frame {
      display: inline-block;
      margin:3em auto 1em;
      span {
        display: block;
        font-size: 0.5em;
      }
      img {
        width: 0.8em;
      }
    }
    .right-frame {
      display: inline-block;
      position: absolute;
      right: 5em;
      bottom: 2em;
    }
  }

  .banner-content {
    @include vendor(
      "transition",
      ("opacity 1.5s ease", "transform 0.5s ease-out", "filter 0.5s ease", "-webkit-filter 0.5s ease")
    );
    margin: 0 15px;
    font-size: 26px;
  }

  @include breakpoint(xxxlarge) {
  }

  @include breakpoint(xxlarge) {
    // min-height: 1000px;
    // max-height: 1440px;
    .banner-content {
      font-size: 24px;
    }
  }

  @include breakpoint(xlarge) {
    // min-height: 900px;
    // max-height: 1200px;
    .banner-content {
      font-size: 22px;
    }
  }

  @include breakpoint(large) {
    // min-height: 800px;
    // max-height: 1050px;
    .banner-content {
      font-size: 20px;
    }
  }
  @include breakpoint(medium) {
    // min-height: 600px;
    // max-height: 900px;
    .banner-content {
      font-size: 16px;
    }
  }
  @include breakpoint(small) {
    // min-height: 750px;
    // max-height: 800px;
    .banner-content {
      font-size: 14px;
    }
  }

  @include breakpoint(xsmall) {
    @media (orientation: portrait) {
      @include banner_mobile_style();
    }
  }
}


.body {
  & > .contact {
    position: fixed;
    top: calc(100vh - 5em);
    right: 0;
  }
}
