#stage {
  text-align: center;
  padding: 2em 0;
  background-color: transparentize(_palette(white), 0.97);
  .row {
    margin: 0 15px;
  }
  .frame {
    padding: 50px 10%;
    .stage-line {
      position: absolute;
      width: 50%;
      height: auto;
      left: -25%;
    }
    .header {
      .stage-link {
        display: block;
        .stageImg {
          width: 40%;
          height: auto;
        }
      }
      .stageTitle {
        color: _palette(fg);
        font-size: 1.6em;
      }
    }
    .content {
      .stage-content {
        max-height: 11.55em;
        overflow-y: hidden;
      }
      .button {
        font-size: 1em;
        padding: 0 1.5em;
      }
    }
  }
}
