#main-home {
  #product-section {
    margin: 0 15px;
    padding-top: 5em;
    padding-bottom: 5em;

    .left {
      padding-left: 16%;
      padding-right: 12%;
      padding-top: 20px;
      @include vendor("background-image", 'url("../images/product_back.png")');
      background-repeat: no-repeat;
      background-size: 50% 50%;
      background-position: 40% 20px;

      header {
        h1 {
          font-size: 2.8em;
          font-weight: 900;
          margin-top: 0.2em;
          margin-bottom: 0.6em;
        }
      }
      .content {
        p {
          font-size: 1.1em;
          display: inline-block;
          height: 6em;
          overflow: hidden;
          margin-bottom: 6em;
        }
        .button {
          font-size: 1em;
          width: 10em;
        }
      }
    }

    .right {
      position: relative;
      left: -18%;
      .rotateText {
        display: block;
        width: 100%;
        font-size: 1.1em;
        padding-top: 20%;
      }
      .img-div {
        position: relative;
        width: 100%;
        height: auto;
        .demo-video {
          width: 100%;
        }
        .title {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          @include relative-property("font-size", 3.4em);
          font-weight: bold;
          text-align: center;
        }
        .start-button-img {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 22%;
          height: auto;
        }
        .demo_right-Img {
          position: absolute;
          width: 8%;
          height: 100%;
          left: 100;
          bottom: 0;
        }
      }
    }

    @include breakpoint(xlarge) {
      .left {
        padding-left: 12%;
        padding-right: 10%;
        padding-top: 10px;
        background-position: 30% 20px;
        header {
          h1 {
            font-size: 2.6em;
          }
        }
        .content {
          p {
            font-size: 1em;
          }
        }
      }
    }

    @include breakpoint(medium) {
      .left {
        padding-right: 0%;
        header {
          h1 {
            font-size: 2.6em;
          }
        }
        .content {
          p {
            font-size: 1em;
          }
          .button {
            font-size: 0.9em;
            width: 10em;
          }
        }
      }
    }

    @include breakpoint(small) {
      .left {
        padding-left: 16%;
        padding-right: 12%;
        background-size: 50% 100%;
        background-position: 15% 0px;
      }
      .right {
        position: relative;
        left: 0;
        top: -6em;
        padding-left: 16%;
        padding-right: 10%;
      }
    }
    @include breakpoint(xsmall) {
      @media (orientation: portrait) {
        .left {
          padding-left: 16%;
          padding-right: 12%;
          background-size: 50% 100%;
          background-position: 15% 0px;
        }
        .right {
          position: relative;
          left: 0;
          top: -6em;
          padding-left: 16%;
          padding-right: 10%;
        }
      }
    }
  }

  #architects {
    padding: 5em 0 10em;
    text-align: center;

    .row {
      width: 70%;
      margin: 0 auto;
      .left {
        padding: 5% 0;
        img {
          width: 100%;
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          border-radius: 0.2em 0 0 0.2em;
        }
      }

      .right {
        background-color: rgb;
        text-align: left;
        padding: 10% 10% 10% 5%;
        font-size: 1.1em;
        .rect {
          position: absolute;
          width: 11px;
          height: 11px;
          top: 30px;
          right: 30px;
          border: solid 1px transparentize(_palette(white), 0.8);
        }
        .title {
          font-weight: bold;
        }
        .content {
          margin-top: 2em;
          line-height: 2.5em;
        }
        .button {
          padding: 0 3em;
        }
        .float-div {
          width: 8%;
          left: 100%;
          text-align: right;
          & > div {
            position: absolute;
          }
          .top,
          .bottom {
            width: 100%;
            height: 2.5em;
            background-color: _palette(bg);
            z-index: 2;
          }
          .bottom {
            bottom: 0;
            vertical-align: bottom;
            padding-top: 1em;
          }
          .line {
            width: 1px;
            height: 100%;
            border-right: solid 1px _palette(fg);
            right: 0.5em;
          }
        }
      }
    }

    @include breakpoint(xlarge) {
      .row {
        width: 75%;
        .left {
          padding: 4% 0;
        }

        .right {
          padding: 8% 8% 8% 5%;
          font-size: 1em;
          .content {
            line-height: 2em;
          }
        }
      }
    }
    @include breakpoint(large) {
      .row {
        .left {
          img {
            width: 80%;
          }
        }
      }
    }
    @include breakpoint(xsmall) {
      @media (orientation: portrait) {
        .row {
          width: 80%;
          .left {
            img {
              width: 100%;
            }
          }
          .right {
            margin-left: -5%;
          }
        }
      }
    }
  }

  #rewardTeller {
    display: flex;
    .left {
      position: relative;
      display: inline-block;
      width: 50%;
      .frame {
        width: 70%;
        @include relative-property("height", 11em);
        position: absolute;
        left: 10%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        span {
          position: absolute;
          &.top {
            display: block;
            @include relative-property("top", 2em);
            img {
              @include relative-property("width", 1.7em);
              height: auto;
            }
          }
          &.center {
            width: 80%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            font-size: 2.5em;
            height: 3.3em;
          }
          &.bottom {
            bottom: 0;
            right: 0;
            font-size: 1.2em;
          }
        }
      }
    }
    .backImg {
      width: 50%;
    }
    @include breakpoint(xxlarge) {
      .left {
        .frame {
          span {
            &.top {
              top: 1.5em;
              img {
                width: 1.5em;
              }
            }
            &.center {
              font-size: 2.3em;
              height: 3.2em;
            }
            &.bottom {
              font-size: 1.1em;
            }
          }
        }
      }
    }
    @include breakpoint(xlarge) {
      .left {
        .frame {
          span {
            &.top {
              top: 1.3em;
              img {
                width: 1.3em;
              }
            }
            &.center {
              font-size: 2.1em;
              height: 3em;
            }
            &.bottom {
              font-size: 1em;
            }
          }
        }
      }
    }
    @include breakpoint(large) {
      .left {
        .frame {
          span {
            &.top {
              top: 1.1em;
              img {
                width: 1em;
              }
            }
            &.center {
              font-size: 1.7em;
              height: 3em;
            }
            &.bottom {
              font-size: 0.8em;
            }
          }
        }
      }
    }
    @include breakpoint(medium) {
      .left {
        .frame {
          width: 70%;
          span {
            &.top {
              top: 1.1em;
              img {
                width: 1em;
              }
            }
            &.center {
              width: 90%;
              font-size: 1.4em;
              height: 3em;
            }
            &.bottom {
              font-size: 0.6em;
            }
          }
        }
      }
    }

    @include breakpoint(small) {
      flex-direction: column;
      .left,
      .backImg {
        width: 80%;
        margin: 0 auto 3em;
      }
      .left {
        .frame {
          position: relative;
          width: 80%;
          left: 0;
        }
      }
    }
    @include breakpoint(xsmall) {
      @media (orientation: portrait) {
        flex-direction: column;
        .left,
        .backImg {
          width: 80%;
          margin: 0 auto 3em;
        }
        .left {
          .frame {
            position: relative;
            width: 80%;
          }
        }
      }
    }
  }

  #details {
    padding-top: 5em;
    text-align: center;
    .inner {
      display: flex;
      width: 890px;
      margin: 0 auto;
      .center-div {
        width: 100%;
        margin: 160px 0 80px;
        text-align: center;
        z-index: 1;
        h2 {
          width: 100%;
          font-size: 50px;
          line-height: 1;
          span {
            color: _palette(fg);
          }
        }
        .hr-div {
          width: 210px;
          border-top: solid 2px _palette(fg);
          display: inline-block;
        }
        .content {
          font-size: 17px;
          line-height: 2.2em;
        }
      }
      .line-div {
        width: 20px;
        position: relative;
        text-align: center;
        left: calc(-50% + 10px);
        opacity: 0.3;
        font-size: 17px;
        & > div {
          position: absolute;
        }
        .top,
        .bottom {
          width: 100%;
          height: 2.5em;
          background-color: _palette(bg);
          z-index: 2;
        }
        .bottom {
          bottom: 0;
          vertical-align: bottom;
          padding-top: 1em;
        }
        .line {
          width: 1px;
          height: 100%;
          border-left: solid 1px _palette(fg);
          left: 10px;
        }
      }
      &.bottom {
        display: inline-block;
        margin-bottom: 5vw;
        .item {
          display: inline-block;
          width: 210px;
          height: 12em;
          margin: 0 30px;
          img {
            width: 80px;
            height: auto;
          }
          .title {
            font-size: 20px;
            color: _palette(fg);
          }
          .content {
            display: inline-block;
            width: 100%;
            height: 6em;
            font-size: 14px;
            overflow: hidden;
          }
        }
      }
    }

    @include breakpoint(medium) {
      .inner {
        width: 90%;
        .center-div {
          margin: 80px 0 80px;
          h2 {
            font-size: 30px;
          }
          .content {
            font-size: 14px;
            line-height: 2;
          }
        }
        &.bottom {
          margin-bottom: 100px;
        }
      }
    }
  }

  #submit {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    @include setBackground("submit_banner.jpg");
    .float {
      position: relative;
      width: 1200px;
      padding: 50px 70px;
      background-color: _palette(bg);
      margin: 70px auto;
      text-align: left;
      border-radius: 4px;
      .title {
        width: 60%;
        font-size: 2.4em;
        line-height: 1.2em;
      }
      .line {
        width: 30%;
        border-top: solid 2px _palette(fg);
        margin: 28px 0;
      }
      form {
        width: 50%;
        margin-bottom: 1em !important;
        
        .row {
          &>div{
            padding-bottom: 16px;
          }
        }
        input {
          height: 2.5em;
          line-height: 2.5em;
        }
      }
      .netImg {
        position: absolute;
        width: 33%;
        bottom: 60px;
        right: 75px;
      }
      .button {
        width: 75%;
        font-size: 18px;
        height: 2.5em;
        line-height: 2.5em;
        margin: 0;
      }
    }

    @include breakpoint(large) {
      padding-left: calc(41% - 287px);
      .float {
        width: 700px;
        padding-left: 44px;
        .title {
          width: 70%;
          font-size: 30px;
        }
        .netImg {
          top: 133px;
          width: 44%;
          left: 55%;
        }
      }
    }
    @include breakpoint(xsmall) {
      @media (orientation: portrait) {
        padding-left: 0;
        padding-top: 10vh;
        height: 100vh;
        .float {
          width: 92%;
          height: 80vh;
          padding: 10% 8%;
          margin: 0 auto;
          text-align: left;

          &::after {
            content: "";
            @include setBackground("net.png");
            background-size: 80% auto;
            background-position: center 10%;
            opacity: 0.2;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
          }

          & > div {
            display: inline-block;
            &.title {
              width: 100%;
              font-size: 30px;
            }
            &.line {
              width: 60%;
            }
          }

          form {
            display: inline-block;
            margin:0 auto;
            width: 100%;
            font-size: 14px;
            .row {
              &>div{
                padding-bottom: 20px;
                text-align: center;
              }
            }
          }
          .button {
            font-size: 14px;
          }
          .netImg {
            display: none;
          }
        }
      }
    }
  }
}
