#main-resources {
  padding: 3em 0;

  .sub-item {
    width: 80%;
    margin: 0 auto;
    .img-div {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
      a {
        position: absolute;
        display: inline-block;
        background: _palette(bg);
        left: 0;
        bottom: 1em;
        border-right: solid 0.3em _palette(fg);
        height: 2em;
        line-height: 2em;
        padding: 0 0.5em;
        font-weight: 100;
      }
    }
    .content-div {
      margin-bottom: 3em;
      .overflow-container {
        $width: 100%;
        $height: 10em;
        display: block;
        width: $width;
        max-height: $height;
        overflow: hidden;
        .overflow-wrapper {
          column-width: 30em;
          max-height: $height;
          p {
            max-height: calc(#{$height} - 1em);
          }
        }
      }
    }
  }
  @include breakpoint(xsmall) {
    .sub-item {
      position: relative;
      width: 100%;
      margin-bottom: 7%;
      border-radius: 6px;
      overflow: hidden;
      .img-div {
        a {
          bottom: 50%;
          font-size: 1.3em;
          height: 2.5em;
          line-height: 2.5em;
        }
      }
      .content-div {
        background-color: _palette(bg);
        @include overlay(white, 0.08);
        // @include wrapper-style(100%, 96px);
        font-size: 14px;
        padding: 5%;
        position: absolute;
        top: 50%;
        height: 50%;
      }
    }
  }
}
