#main-tech {
  .row {
    & > div {
      padding: 0;
    }
  }
  .main-img {
    width: 100%;
    height: auto;
  }
  .description {
    font-size: 28px;
    .center-middle-div {
      text-align: left;
      padding-left: 15%;
      padding-right: 10%;
      header {
        padding-bottom: 1em;
        img {
          width: 20%;
        }
        .title {
          display: inline-block;
          vertical-align: bottom;
          font-size: 2.5em;
          line-height: 1em;
        }
      }
      .content {
        .bottom {
          font-family: "LatoWebLight";
          line-height: 1.2em;
          margin-bottom: 0;
        }
      }
    }
  }
  @include breakpoint(xxlarge) {
    .description {
      font-size: 24px;
      .center-middle-div {
        header {
          .title {
            font-size: 2.2em;
          }
        }
      }
    }
  }
  @include breakpoint(xlarge) {
    .description {
      font-size: 22px;
      .center-middle-div {
        header {
          .title {
            font-size: 2.1em;
          }
        }
      }
    }
  }
  @include breakpoint(large) {
    .description {
      font-size: 20px;
      .center-middle-div {
        header {
          .title {
            font-size: 1.8em;
          }
        }
      }
    }
  }
  @include breakpoint(medium) {
    .description {
      font-size: 18px;
      .center-middle-div {
        header {
          .title {
            font-size: 1.6em;
          }
        }
      }
    }
  }
  @include breakpoint(medium) {
    .description {
      font-size: 18px;
      .center-middle-div {
        header {
          .title {
            font-size: 1.6em;
          }
        }
      }
    }
  }
  @include breakpoint(xsmall) {
    @media (orientation: portrait) {
      margin-top: 1em;
      .col-4 {
        height: 30vh;
        overflow: hidden;
      }
      .main-img {
        height: 30vh;
        width: auto;
      }
      .description {
        font-size: 13px;
        .center-middle-div {
          padding-left: 7%;
          padding-right: 7%;
          header {
            padding-bottom: 0.5em;
            img {
              width: 15%;
            }
            .title {
              font-size: 2em;
              line-height: 1em;
            }
          }
          .content {
            .bottom {
              font-family: "LatoWebLight";
              line-height: 1.2em;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
